.App {
  text-align: center;
  background-color: #1e2a47;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}

button.search {
  padding: 10px 20px;
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #0079ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button.search:hover {
  background-color: #005ecb;
}

.profileCard {
  background-color: #1f2d48;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: left;
}

.profileCard img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.profileInfo h2 {
  margin: 0;
  font-size: 24px;
}

.profileInfo h3 {
  margin: 0;
  font-size: 18px;
  color: #0079ff;
}

.profileInfo p {
  margin: 5px 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  background-color: rgb(28, 30, 43);
  padding: 10px;
  border-radius: 10px;
}

.stats div {
  text-align: center;
}

.profileInfo div {
  display: flex;
  margin: 5px 0;
}

.userdate {
  display: flex;
  margin: 0px;
  justify-content: space-between;
}
